*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;
}

body{
  background-color: wheat;
  padding: 30px;
}

main{
  background-color: burlywood;
  width: 600px;
  height: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Chivo Mono', monospace;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}


.dicesContainer{
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 60px;
    margin-bottom: 40px;

}

.dice--face{
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.roll-dice {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #6156aa;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}